.mainHeader {
  background-color: aqua;
}

.header {
  padding: 15px 20px;

  width: 900px;
  margin-left: 320px;

  position: fixed;
  z-index: 999999999999999;
}

.svg {
  width: 100px;
  height: auto;
}
.logoNavText{
  width: 169px;
  height: 30px;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: 0.5px;
  
  text-align: left;
  color: white;
}
.hide {
  display: none;
  padding-right: 40px !important;
}

.wrap {
  display: flex;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  border-radius: 160px;
  background: rgba(96, 96, 96, 0.3);
  ;
  // box-shadow: 5px 5px 10px #1a1a1a, inset 5px 5px 10px #1a1a1a ;
  flex-wrap: wrap;
}

.wrapAfter{
  display: flex;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  border-radius: 160px;
  background: #262626;
  ;
  // box-shadow: 5px 5px 10px #1a1a1a, inset 5px 5px 10px #1a1a1a ;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .header {
    padding: 15px;
    width: 100%;
    margin-left: 0px;
    position: fixed;
  }

  .wrap {
    padding: 20px !important;
    padding-left: 40px !important;
    border-radius: 80px;
    box-shadow: 2px 4px 10px #1a1a1a, inset 5px 5px 10px #1a1a1a ;
  }

  .hide {
    padding-right: 0 !important;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px;
    width: 100%;
    position: fixed;
    margin-left: 0px;
  }

  .wrap {
    border-radius: 40px;
  }

  .svg {
    width: 80px;
  }
}

@media (max-width: 480px) {


  .svg {
    width: 60px;
  }
}