@use '../../../_css/queries.scss' as *;


.nav {
  display: flex;
  height: 20px;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  padding-right: 0 !important;
  flex-wrap: wrap;
  opacity: 1;
  // background: rgba(96, 96, 96, 0.3);
  transition: opacity 100ms linear;
  visibility: visible;
  color: white;
  Link {
    color: white;
  }

  Button {
    background: none;    
    text-align: left;
  }

  > * {
    text-decoration: none;
    color: white;
    
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
  
}
