@import '../../_css/queries.scss';
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap');

.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100vh;

  @include small-break {
    margin: 0;
    padding-top: 60px;
    height: 200%;
  }
}

.heroWrapper {
  width: 100%;
  max-width: 1560px;
  height: 100%;
  display: flex;
  align-items: stretch;

  @include small-break {
    flex-direction: column;
    
    
  }
}

.carouselContainer {
  position: relative;
  width: 60%;
  height: 100%;
  overflow: hidden;

  @include small-break {
    width: 100%;
    // height: 200%;
  }
 
}

.carouselSlide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.49) 50%,
      rgba(0, 0, 0, 0.763) 100%
    );
    z-index: 1;
  }
}

.textContainer {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 5%;
  position: relative;
  
 z-index: 1;

  @include small-break {
    width: 100%;
    // height: 50%;
    // padding: 20px;
  }
 
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/media/cart-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(5px); /* Apply blur to the background */
    z-index: -1; /* Keep the background behind the content */
     /* Optional: Adjust the transparency of the background */

     @media (max-width: 650px) {
      margin-top: 20rem;
      background: transparent;
       
     }
  }

  @media (max-width: 650px) {
    margin-top: 6rem;
     
   }
}

.heartIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  @media (max-width: 650px) {
    top: -3rem;
    
  }
}

.textt {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.texttt {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.rotatedText {
  max-width: 70px;
  height: auto;
  align-self: flex-end;
  transform: rotate(-90deg);
  position: absolute;
  right: 20px;
  top: 50%;
  @media (max-width: 650px) {
    width: 33px;
    top: 45%;
    
  }
}

.heroHeading {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 3vw;
  letter-spacing: 0.5vw;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #333;
}

.heroTagline {
  font-family: "Syne", sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 30px;
  color: #d1d1d1;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  background-color: #e8e8e8;
  border: 2px solid #ffe2e2;
  border-radius: 35px;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #ffe2e2;
    transform: scale(1.05);
  }

  svg {
    fill: #ff6e6e;
    transition: transform 0.3s ease;
  }

  &:hover svg {
    transform: scale(1.1);
  }
}

@media (max-width: 1024px) {
  .heroHeading {
    font-size: 4vw;
  }

  .heroTagline {
    font-size: 10vw;
  }
}

@media (max-width: 768px) {
  .heroWrapper {
    flex-direction: column;
  }

  .carouselContainer,
  .textContainer {
    width: 100%;
    height: 50vh;
  }

  .textContainer {
    padding: 30px;
  }

  .heroHeading {
    font-size: 6vw;
  }

  .heroTagline {
    font-size: 3vw;
  }

  .rotatedText {
    top: 50%;
    left: 10px;
    transform: translateY(-50%) rotate(-90deg);
  }

}

.rotatedText {
  position: absolute;
  top: 7rem;
  left: 3rem;
  transform: translateX(-50%) rotate(-180deg);
  z-index: 10;
  max-width: 60px;
  height: auto;
}

.tagline {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 1rem;

  @media (max-width: 650px){
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .hero {
    padding-top: 60px;
  }

  .heroWrapper {
    margin-top: 0;
  }

  .textContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
  }

  .tagline {
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
  }

  .textt,
  .texttt {
    max-width: 80%;
  }

  .heroHeading {
    font-size: 8vw;
  }

  .heroTagline {
    font-size: 4vw;
  }

  .button {
    padding: 10px 20px;
  }
}

@keyframes movingBorders {
  0% {
    border-color: #fce4e4;
  }
  50% {
    border-color: #ffd8d8;
  }
  90% {
    border-color: #fce4e4;
  }
}

@keyframes beatingHeart {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.15);
  }
  30% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.15);
  }
  60% {
    transform: scale(1);
  }
}